@model DonationHubWeb.ViewModel.Donation.DonateViewModel

@{
    ViewData["Title"] = "Donate";
}

@section HeaderDonate
{
    <header class="header--form-page">
        <nav class="container container--70">
            <ul class="nav--actions">
                <li class="logged-user">
                    Witaj Agata
                    <ul class="dropdown">
                        <li><a href="#">Profil</a></li>
                        <li><a href="#">Ustawienia</a></li>
                        <li><a href="#">Moje zbiórki</a></li>
                        <li><a href="#">Wyloguj</a></li>
                    </ul>
                </li>
            </ul>

            <ul>
                <li><a asp-controller="Home" asp-action="Index" class="btn btn--without-border active">Start</a></li>
                <li><a asp-controller="Home" asp-action="Index" asp-fragment="steps" class="btn btn--without-border">O co chodzi?</a></li>
                <li><a asp-controller="Home" asp-action="Index" asp-fragment="about-us" class="btn btn--without-border">O nas</a></li>
                <li><a asp-controller="Home" asp-action="Index" asp-fragment="help" class="btn btn--without-border">Fundacje i organizacje</a></li>
                <li><a asp-controller="Home" asp-action="Index" asp-fragment="contact" class="btn btn--without-border">Kontakt</a></li>
            </ul>
        </nav>

        <div class="slogan container container--90">
            <div class="slogan--item">
                <h1>
                    Oddaj rzeczy, których już nie chcesz<br />
                    <span class="uppercase">potrzebującym</span>
                </h1>

                <div class="slogan--steps">
                    <div class="slogan--steps-title">Wystarczą 4 proste kroki:</div>
                    <ul class="slogan--steps-boxes">
                        <li>
                            <div><em>1</em><span>Wybierz rzeczy</span></div>
                        </li>
                        <li>
                            <div><em>2</em><span>Spakuj je w worki</span></div>
                        </li>
                        <li>
                            <div><em>3</em><span>Wybierz fundację</span></div>
                        </li>
                        <li>
                            <div><em>4</em><span>Zamów kuriera</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
}
<section class="form--steps">
    <div class="form--steps-instructions">
        <div class="form--steps-container">
            <h3>Ważne!</h3>
            <p data-step="1" class="active">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="2">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="3">
                Wybierz jedną, do
                której trafi Twoja przesyłka.
            </p>
            <p data-step="4">Podaj adres oraz termin odbioru rzeczy.</p>
        </div>
    </div>

    <div class="form--steps-container">
        <div class="form--steps-counter">Krok <span>1</span>/4</div>

        <form asp-action="Donate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- STEP 1: class .active is switching steps -->
            <div data-step="1" class="active">
                <h3>Zaznacz co chcesz oddać:</h3>
                @for (int i = 0; i < Model.CategoriesForCheckBox.Count; i++)
                {
                    <div class="form-group form-group--checkbox">
                        <label>
                            @Html.CheckBoxFor(m => Model.CategoriesForCheckBox[i].IsChecked)
                            <span class="checkbox"></span>
                            <span class="description">
                                @Model.CategoriesForCheckBox[i].Name
                            </span>
                            @Html.HiddenFor(m => Model.CategoriesForCheckBox[i].Value)
                            @Html.HiddenFor(m => Model.CategoriesForCheckBox[i].Name)<br />
                        </label>
                    </div>
                }
                @*@foreach (var category in Model.Categories)
                    {
                    <div class="form-group form-group--checkbox">
                        <label>
                            <input id="@(category.Id)"
                                    type="checkbox"
                                    name="@(category.Id)"
                                    value="@(category.Id)" />
                            <span class="checkbox"></span>
                            <span class="description">@category.Name</span>
                        </label>
                    </div>
                    }*@
                <div class="form-group form-group--buttons">
                    <button type="button" class="btn next-step">Dalej</button>
                </div>
            </div>

            <!-- STEP 2 -->
            <div data-step="2">
                <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

                <div class="form-group form-group--inline">
                    <label asp-for="Quantity" class="control-label">
                        Liczba 60l worków:
                        <input asp-for="Quantity" class="form-control" />
                    </label>
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="button" class="btn next-step">Dalej</button>
                </div>
            </div>



            <!-- STEP 4 -->
            <div data-step="3">
                <h3>Wybierz organizacje, której chcesz pomóc:</h3>
                @foreach (var institution in Model.Institutions)
                {
                    <div class="form-group form-group--checkbox">
                        <label>
                            @Html.RadioButtonFor(m => m.SelectedInstitution, institution.Id, new { id = "" })
                            <span class="checkbox radio"></span>
                            <span class="description">
                                <div class="title">@institution.Name</div>
                                <div class="subtitle">
                                    @institution.Description
                                </div>
                            </span>
                        </label>
                    </div>
                }

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="button" class="btn next-step">Dalej</button>
                </div>
            </div>

            <!-- STEP 5 -->
            <div data-step="4">
                <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

                <div class="form-section form-section--columns">
                    <div class="form-section--column">
                        <h4>Adres odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label asp-for="Street" class="control-label">
                                Ulica
                                <input asp-for="Street" class="form-control" />
                            </label>
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>

                        <div class="form-group form-group--inline">
                            <label asp-for="City" class="control-label">
                                Miasto
                                <input asp-for="City" class="form-control" />
                            </label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>

                        <div class="form-group form-group--inline">
                            <label asp-for="ZipCode" class="control-label">
                                Kod pocztowy
                                <input asp-for="ZipCode" class="form-control" />
                            </label>
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>

                        <div class="form-group form-group--inline">
                            <label asp-for="Phone" class="control-label">
                                Numer telefonu
                                <input asp-for="Phone" class="form-control" />
                            </label>
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-section--column">
                        <h4>Termin odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label asp-for="PickUpDate" class="control-label">
                                Data
                                @*<input asp-for="PickUpDate" class="form-control" />*@
                                @Html.TextBoxFor(model => model.PickUpDate, new { @type = "date", @Value = Model.PickUpDate })
                            </label>
                            <span asp-validation-for="PickUpDate" class="text-danger"></span>
                        </div>

                        <div class="form-group form-group--inline">
                            <label asp-for="PickUpTime" class="control-label">
                                Godzina
                                @*<input asp-for="PickUpTime" class="form-control" />*@
                                @Html.TextBoxFor(model => model.PickUpTime, new { @type = "time", @Value = Model.PickUpTime })
                            </label>
                            <span asp-validation-for="PickUpTime" class="text-danger"></span>
                        </div>

                        <div class="form-group form-group--inline">
                            <label asp-for="PickUpComment" class="control-label">
                                Uwagi dla kuriera
                                @Html.TextAreaFor(m => m.PickUpComment, new { @class = "form-control" })
                            </label>
                            <span asp-validation-for="PickUpComment" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="submit" class="btn">Dalej</button>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
